@import 'src/assets/variables.scss';

.container {
	@include mq('desktop'){
		display: none;
		width: 0%
	}
}

.menu-toggle {
	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);

    justify-content: space-between;
    flex-flow: column;
	display: flex;

	background: transparent;

	position: relative;

	cursor: pointer;

	height: 15px;
	width: 30px;

	z-index: 10;
}

span {
	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);

	background: $normal-colour;

	position: absolute;

	border-radius: 3px;

	height: 3px;
	width: 100%;

	&:first-child {
		top: 0;
	}

	&:last-child {
		bottom: 0;
	}
}

.menu-toggle.open {
	transform: translateX();

	span{

		&:first-child{
			transform: rotate(45deg);
			top: 10px;
		}

		&:last-child{
			transform: rotate(-45deg);
			bottom: 6px;
		}
	}
}



.menubig {
	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);

	box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.2);
	background-color: white;
	opacity: 0;

	justify-content: space-around;
	align-items: flex-start;
	display: flex;

	overflow-x:hidden;

	position: fixed;
	left: -100vh;
	z-index: 3;
	bottom: 0;
	top: 0;

	height: 100vh;
	
	&.open {
		opacity: 1;
		left: 0;
		width: 100%;

		@include mq('tablet') {
		width: 50%;
		}
	}
}

ul {
	transition: 0.3s cubic-bezier(0.68, 0.16, 0.25, 1);

	justify-content: space-between;
	flex-direction: column;
	display: flex;

    height: 50%;
	width: 65%;

	margin: 150px 41px;
    padding: 0;


	@include normal-font;
	font-size: 30px;
    text-align: left;

	list-style: none;
}

li {
	transition: 0.3s cubic-bezier(0.68, 0.16, 0.25, 1);

		&:hover, &:focus{
		transform: scale(1.2) translateX(25px);
		}

			a {
			text-decoration: none;
			text-transform: uppercase;

			color: $normal-colour;

				&:hover, &:focus{
					font-weight: 700;
				}
			}
}




