@import 'src/assets/variables.scss';

.background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;


	visibility: hidden;

	transition: 0.25s background-color cubic-bezier(0.68, 0.16, 0.25, 1);

	&.open {
		visibility: visible;

		z-index: 0;

		
		background-color: rgba(black, 0.5);
	}
}

.container {
	width: 15%;
}

.menu-toggle {

    justify-content: space-between;
    flex-flow: column;
	display: flex;

	background: transparent;

	position: relative;

	cursor: pointer;

	height: 15px;
	width: 30px;

	z-index: 10;
}

span {
	transition: 0.25s cubic-bezier(0.4, 0, 1, 1);

	background: $normal-colour;

	position: absolute;

	border-radius: 3px;

	height: 3px;
	width: 100%;

	&:first-child {
		top: 0;
	}

	&:last-child {
		bottom: 0;
		width: 65%;
	}
}

.open {
	z-index: 10;

	span{

		&:first-child{
			transform: rotate(45deg);
			top: 1px;
		}

		&:last-child{
			transform: rotate(-45deg);
			bottom: 10px;
			width: 100%;
		}
	}
}



.menubig {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	overflow-x: hidden;

	display: flex;
	align-items: center;
	justify-content: space-around;
	
	width: 100%;
	height: 100vh;
	padding: 55px 80px;

	opacity: 0;
	background-color: white;
	box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.05);

	transform: translateX(-100%);
	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);

	&.open{
		opacity: 1;
		transform: translateX(0%);
	}

	@include mq('desktop') {
		width: 40%;
	}
}



nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 70%;

	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);
}

nav button {
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);

	padding-bottom: 4px;
	
	display: inline-block;

	position: relative;

	cursor: pointer;

	border: none;
	background: none;

	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);

	@include accent-bold;
	text-align: left;
	font-size: 30px;

	color: $normal-colour !important;
	outline: none;

		&:hover, &:focus {
		outline: none;
	}

	&::after {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 4px;
		background: rgba(16, 34, 60, 0.1);
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
		-moz-transition: opacity 0.3s, -moz-transform 0.3s;
		transition: opacity 0.3s, transform 0.3s;
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		transform: translateY(10px);
	}
	
	&:hover::after,
	&:focus::after {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
	
}