@import 'src/assets/variables.scss';

.transition {
	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);
}

.about{
	background-color: $background-colour-blue;

}


.container {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;

	height: 100%;
	width: 100%;

	@include mq('tablet') {
		align-items: flex-end;
	}
}

.up {
	position: relative;

	width: 100%;
	height: 100%;
}

img {
	position: relative;

	z-index: 0;

	object-fit: contain;

	filter: brightness(120%);

	transform: translateX(-20px);

	transition: 0.5s cubic-bezier(0.4, 0, 1, 1);

	height: 70%;

	@include mq('tablet-small') {
		height: 100%;
		transform: translateX(-90px);
	}
}

.impose {
	position: absolute;

	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: space-between;


	z-index: 1;
	top: 60%;
	left: 42%;

	width: 50%;
	height: 40%;

	@include mq('tablet-small') {

	}

	@include mq('tablet') {
		
	}

	@include mq('tablet-wide') {
		
	}

	@include mq('desktop') {
		
	}

	@include mq('desktop-wide') {
		
	}

	@include mq('desktop-super-wide') {
		
	}
}





h1 {
	@include accent-bold;
	text-align: left;

	color: $normal-colour !important;

	font-size: 16px;
	line-height: 25px;
	
	margin: 0px 0px;

	width: 100%;


	transform: translateX(32px);

	@include mq('tablet-small') {
		font-size: 20px;
		line-height: 32px;

		transform: translateX(0px);
	}

	@include mq('tablet') {
		font-size: 20px;
		line-height: 32px;
	}

	@include mq('tablet-wide') {
		font-size: 23px;
	}

	@include mq('desktop') {
		font-size: 25px;
		line-height: 40px;
	}

	@include mq('desktop-wide') {
		font-size: 26px;
		line-height: 50px;

	}
	

	@include mq('desktop-super-wide') {
		font-size: 30px;
		line-height: 60px;

	}
}


a {
	text-decoration: none;

	h1 {
		color: #DF7D91 !important;
	}
}


button {
	text-decoration: none;

	@include accent-bold;
	text-align: left;
	font-size: 18px;
	color: white !important;

	padding: 10px 20px;
	

	position: relative;

	cursor: pointer;

	border: solid 1px rgba(9, 18, 32, 0.15);
	background:  $accent-colour;

	box-shadow: -1px 0px 8px 0px rgba(9, 18, 32, 0.25);
	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);

	// @include mq('tablet-small') {
	// 	font-size: 20px;
	// }



	// @include mq('tablet-wide') {
	// 	font-size: 23px;
	// }

	// @include mq('desktop') {
	// 	font-size: 25px;
	// }

	// @include mq('desktop-wide') {
	// 	font-size: 28px;
	// }
	

	// @include mq('desktop-super-wide') {
	// 	font-size: 40px;
	// }
}

