@import 'src/assets/variables.scss';


.about{
  background-color: $background-colour-blue;

}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

  height: 100%;
  width: 100%;

  perspective: 100px;

  @include mq('tablet') {
    align-items: flex-end;
  }
}

.up {
	width: 100%;
	height: 100%;
}

img {
	position: relative;
	z-index: 0;

	height: 64%;

	object-fit: contain;

	transition: transform 0.5s ease;
	box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.2);

	@include mq('tablet-small') {
		height: 85%;
  	}

	@include mq('desktop') {
		height: 95%;
	}

	@include mq('desktop-super-wide') {
		height: 90%;
	}
}

.impose {
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: space-between;

	position: absolute;
	z-index: 1;
	top: 249px;
	left: 155px;

	width: 55%;
	height: 35%;

	transform: translateX(38px);
	transition: transform 0.5s ease;

	@include mq('tablet-small') {
		width: 56%;
		height: 47%;

		transform: translateX(90px);
	}

	@include mq('tablet') {
		width: 45%;
		height: 45%;

		transform: translateX(175px) translateY(-3px);

	}

	@include mq('tablet-wide') {
		height: 42%;

		transform: translateX(209px) translateY(44px);
	}

	@include mq('desktop') {
		height: 47%;

		transform: translateX(288px) translateY(47px);
	}

	@include mq('desktop-wide') {
		width: 40%;

		transform: translateX(419px) translateY(47px);

	}

	@include mq('desktop-super-wide') {
		width: 35%;
		height: 36%;

		transform: translateX(631px) translateY(294px);
	}
}

h1 {
	@include accent-bold;
	text-align: left;

	color: $normal-colour !important;

	font-size: 16px;
	line-height: 25px;

	margin: 0px 0px;

	width: 100%;

	transition: transform 0.5s ease;

	@include mq('tablet-small') {
		font-size: 20px;
		line-height: 32px;
	}

	@include mq('tablet') {
		font-size: 20px;
		line-height: 32px;
	}

	@include mq('tablet-wide') {
		font-size: 23px;
		line-height: 35px;
	}

	@include mq('desktop') {
		font-size: 25px;
		line-height: 40px;
	}

	@include mq('desktop-wide') {
		font-size: 26px;
		line-height: 45px;

	}

	@include mq('desktop-super-wide') {
		font-size: 36px;
		line-height: 60px;
	}
}


a {
  text-decoration: none;
}


button {
  text-decoration: none;

  @include accent-bold;
  text-align: left;
  font-size: 16px;
  color: white !important;
  letter-spacing: 1px;

  padding: 8px 16px;
  
  cursor: pointer;

  border: solid 1px rgba(9, 18, 32, 0.15);
  background:  $accent-colour;

  box-shadow: -1px 0px 8px 0px rgba(9, 18, 32, 0.25);

  transition: transform 0.5s ease;

  &:hover{
  	transform: translateX(2px) translateY(-2px);
  }

  @include mq('tablet-wide') {
   	font-size: 18px;
   	padding: 10px 20px;
  }

  @include mq('desktop') {
   font-size: 20px;
  }

  @include mq('desktop-super-wide') {
   font-size: 24px;
   padding: 16px 36px;
  }

}

