@import 'src/assets/variables.scss';

.transition {
	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);
}

a {
text-decoration: none;
}

.projects-section {
	background-color: $background-colour-blue;

	width: 100%;

	height: 50rem;

	margin-bottom: 0;
	
	justify-content: space-between;
	align-items: center;
	flex-flow: column;
	display: flex;

	@include mq('tablet-small') {
		height: 54rem;
	}

	@include mq('tablet-wide') {
		justify-content: space-around;
		flex-flow: row wrap;
		height: 44rem;
	}

 	@include mq('desktop-super-wide'){
    	height: 64rem;
  	}
}



.project_container {
	margin: 0;
	padding: 0;
	width: 200px;
	height: 200px;

	position: relative;

	align-items: center;

	@include mq('tablet') {
		transform: scale(1.1); 
	}

	@include mq('desktop') {
		transform: scale(1.3);

		&:hover {
			.rectangle svg {
				stroke-dashoffset: 0;
				transform: scale(1.1);
			}	

			.title {
				transform: scale(1.1) translateX(15px);
			}
			.circle {
				transform: scale(1.1);
			}	
		}
	}

	@include mq('desktop-wide') {
		transform: scale(1.4);
	}

	@include mq('desktop-super-wide') {
		transform: scale(1.5);
	}
}

.tobe {
	@include mq('tablet-wide'){
		margin-right: 50px;
	}
	@include mq('desktop') {
		animation: float1 14s ease-in-out infinite;
	}
}

.recollections {
	@include mq('desktop') {
		animation: float2 12s ease-in-out infinite;
	}
}

.illustration {
	@include mq('desktop') {
		animation: float3 13s ease-in-out infinite;
	}
}

.rectangle{
	position: relative;

	margin: 0;

	svg {
		transition: 1s stroke-dashoffset cubic-bezier(0.68, 0.16, 0.25, 1); 

		stroke-dasharray: 993;
		stroke-dashoffset: 0;
	
		width: 195px;
		height: 195px;

		@include mq('desktop'){
			stroke-dashoffset: 993;
		}
	}
}

.circle {
	transition: 1s transform cubic-bezier(0.68, 0.16, 0.25, 1); 

	position: absolute;

	bottom: 12px;
	left: -20px;
	z-index: 1;
	
	margin: 0;

	height: 180px;
	width: 180px;
}

.title {
	transition: 1s transform cubic-bezier(0.68, 0.16, 0.25, 1); 
	
	text-decoration: none;

	position: relative;

	text-align: left;
	bottom: 90px;
	left: 20px;
	z-index: 2;

	margin: 0;

	
}

h4 {
	@include accent-bold;
	color: $normal-colour !important;
	
	margin: 0;
	margin-bottom: 10px;
}

h5 {
	@include normal-font;
	margin: 0;
}


@keyframes float1 {
	0% {
		transform: translatey(10vh);
	}
	50% {
		transform: translatey(-6vh);
	}
	100% {
		transform: translatey(10vh);
	}
}

@keyframes float2 {
	0% {
		transform: translatey(13vh);
	}
	50% {
		transform: translatey(-3vh);
	}
	100% {
		transform: translatey(13vh);
	}
}

@keyframes float3 {
	0% {
		transform: translatey(16vh);
	}
	50% {
		transform: translatey(-8vh);
	}
	100% {
		transform: translatey(16vh);
	}
}