@import 'src/assets/variables.scss';
@import 'src/assets/fonts.scss';

header{

}

#welcome{
	background-color: #F7BFB8;
}

.desktop {
	display: none;

	@include mq('desktop'){
		display: flex;
	}
}

.mobile {
	display: flex;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: space-between;

	background-color: $background-colour-blue;


	@include mq('desktop'){
		display: none;
	}
}
