@import 'src/assets/variables.scss';

h1, h3 {
	@include accent-bold;
	text-align: left;
}

h1 {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;

	text-align: center;
	font-size: 30px;

	
	@include mq('tablet-wide'){
		margin-left: 26%;
		text-align: left;
	}
	

	@include mq('desktop'){
		font-size: 40px;
	}

	@include mq('desktop-wide'){
		font-size: 45px;
	}

	@include mq('desktop-super-wide'){
		font-size: 55px;
	}
}

h2 {
	font: 100% $normal-font;
	font-weight: 700;
	font-size: 14px;
	
	text-align: center;
		
	line-height: 25px;

	margin-top: 0px;

	@include mq('tablet'){
		text-align: left;
		font-size: 18px;
	}

	@include mq('desktop'){
		line-height: 35px;
		text-align: left;
		font-size: 20px;
	}

	@include mq('desktop-wide'){
		line-height: 35px;
		text-align: left;
		font-size: 25px;
	}
}

h3 {
	margin-bottom: 6%;
	font-size: 12px;
	text-align: center;


	@include mq('tablet-small'){
		font-size: 14px;
		text-align: left;
	}

	@include mq('tablet'){
		font-size: 16px;
	}

	@include mq('desktop'){
		font-size: 18px;
	}

}

p {
	@include normal-font;
	font-size: 14px;
	line-height: 23px;

	text-align: left;

	margin: 0px 0px;

	@include mq('tablet'){
		line-height: 30px;
		font-size: 16px;
	}

	@include mq('desktop-wide'){
		font-size: 20px;
		line-height: 35px
	}
}

.transition {
	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);
}

.container {
    background-color: rgba(16,34,60,0.04);
    
    justify-content: space-between;
    flex-flow: column wrap;
    display: flex;

	padding: 40px 40px;


	@include mq('tablet-small'){
		padding-left: 80px;
		padding-right: 80px;
	}

	@include mq('tablet-wide'){
		padding-left: 128px;
		padding-right: 128px;
	}

	@include mq('desktop'){
		padding-right: 200px;
		padding-left: 200px;
	}

	@include mq('desktop-super-wide'){
		padding-right: 315px;
		padding-left: 315px;
	}	
}

.projects {
	justify-content: space-between;
	flex-flow: column wrap;
	display: flex;

	width: 100%;

	margin-top: 100px;
	margin-bottom: 100px;

	@include mq('tablet-wide'){
		margin: 128px 0px;
	}

	@include mq('desktop'){
		margin: 180px 0px;
	}

	@include mq('desktop-super-wide'){
		margin: 240px 0px;
	}
}


.desc-container {
	justify-content: space-between;
	flex-flow: row wrap;
	display: flex;
}

.title {
	width: 100%;
	margin-bottom: 40px;
}

.infos {
	justify-content: space-around;
	flex-flow: row wrap;
	display: flex;
	order: 2;
	
	width: 100%;

	text-align: left;
	
	@include mq('tablet-wide'){
		justify-content: space-between;
		flex-flow: column wrap;	
		width: 17%;
		order: 0;
	}

}

.year2 {
	font-size: 12px;
	line-height: 25px;

	text-align: left;

	margin-top: 0;

		@include mq('tablet-wide'){
			font-size: 14px;
		}

		@include mq('desktop'){
			font-size: 16px;
			line-height: 30px;
		}

		@include mq('desktop-wide'){
			font-size: 18px;
		}
}

ul {
	list-style: none;
	padding: 0px 0px;
	margin: 0px 0px;

	> li {
		font-size: 12px;
		line-height: 23px;
	
		text-align: center;
		
		margin-top: 0;

		@include mq('tablet-wide'){
			font-size: 14px;
			line-height: 25px;
			text-align: left;
		}

		@include mq('desktop'){
			font-size: 16px;
			line-height: 30px;
		}

		@include mq('desktop-wide'){
			font-size: 18px;
		}
	}
}

.margin-top-none {
	margin-top: 0px;
}

.description {
	width: 100%;
	margin-bottom: 60px;

	@include mq('tablet-wide'){	
		width: 74%;
		margin-bottom: 0px;
	}
}


.vertical {
	justify-content: center;
	align-items: center;
	flex-flow: column;
	display: flex;
	width: 100%;

}


figcaption{
	@include normal-font;
	text-align: center;
    line-height: 20px;
    font-size: 12px;

	width: 100%;

	@include mq('tablet'){
		line-height: 30px;
		font-size: 16px;
	}

	@include mq('desktop-wide'){
		font-size: 20px;
		line-height: 35px
	}
}


figure {
	margin: 0px;
	margin-bottom: 60px;
	width: 100%;

	@include mq('tablet-wide'){
		margin-bottom: 128px;

	}

	@include mq('desktop-wide'){
		margin-bottom: 160px;
	}

	@include mq('desktop-super-wide'){
		margin-bottom: 240px;
	}
}

img {	
	box-shadow: 0px 0px 11px 0px rgba(16, 34, 60, 0.08);
	
	width: 50%;

	object-fit: cover;
	
	margin: 0;
	margin-bottom: 15px;

	@include mq('desktop-wide'){
		margin-bottom: 25px;
		}

		@include mq('desktop-super-wide'){
			margin-bottom: 35px;
		}
}

.projnav {
	justify-content: space-around;
	align-items: center;
	flex-flow: row;
	display: flex;

	a {
		text-decoration: none;
		width: 48%; 
		opacity: 0.5;
	}

	@include mq('desktop') {
		display: none;
	}
}

.prev {
	text-align: right
}