@import 'src/assets/variables.scss';
@import 'src/assets/fonts.scss';

section {
	padding: 0px 0px !important;
}

.transition {
	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);
}

/*------------------------------------*/
/*-------------TYPOGRAPHY-------------*/
/*------------------------------------*/
h1 {
	letter-spacing: 2px;
	color: white !important;
	text-transform: uppercase !important; 

	margin-bottom: 160px;
}

h2{
	width: 100%;
	margin-bottom: 0;

	line-height: 35px;
	letter-spacing: 0 !important;
	text-align: center !important;
}

h3 {
	width: 100%;
	
	color: white !important;
	font-weight: 400 !important;
	text-align: center !important;
}

a {
	text-decoration: none;
	color: $accent-colour;
}

/*------------------------------------*/
/*---------------BANNER---------------*/
/*------------------------------------*/
.banner {
	height: 65vh;

	margin-top: 60px;
	padding: 40px 40px;

	display: flex;
	flex-flow: row wrap;
	align-content: flex-end;
	justify-content: space-between;

	@include mq('my-desktop'){
		height: 70vh;
	}
}

#talknwalkapp {
	background-color: #8491c0;
}

#game {
	background-color: #ea7688;
}

#ipss {
	background-color: #6fb4c7;
}

#talknwlak_web {
	background-color: #8491c0;
}

.header {
	margin-bottom: 40px;

	@include mq('tablet'){
		margin-bottom: 50px;
	}

	@include mq('desktop'){
		margin-bottom: 60px;
	}
}

/*------------------------------------*/
/*--------------CONTAINER-------------*/
/*------------------------------------*/

.container {
    background-color: rgba(16,34,60,0.04);
    
    justify-content: space-between;
    flex-flow: column wrap;
    display: flex;

	padding: 60px 35px;

	@include mq('tablet-small'){
		padding: 60px 80px;
	}

	@include mq('tablet-wide'){
		padding: 60px 130px;
	}

	@include mq('desktop'){
		padding: 60px 220px;
	}
	@include mq('desktop-super-wide'){
		padding: 60px 300px;
	}

}

/*------------------------------------*/
/*--------------PROJECTS--------------*/
/*------------------------------------*/
.projects {
	width: 100%;
	margin-bottom: 45px;

	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;

	@include mq('desktop'){
		margin-bottom: 80px;
	}
	@include mq('desktop-super-wide'){
		margin-bottom: 100px;
	}
}

.description {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

/*------------------------------------*/
/*------------INFOS LIST--------------*/
/*------------------------------------*/
.infos {
	width: 100%;

	order: 2;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	@include mq('tablet-wide'){
		justify-content: flex-start;
		flex-flow: column wrap;	
		width: 17%;
		order: 0;
	}
}

ul {
	list-style: none;
	padding: 0px 0px;
	margin: 0px 0px;

	&:last-child{
		width: 100%
	}

	&:not(:last-child){
		width: 50%;
		margin-bottom: 20px;
	}

	@include mq('tablet-small'){
			&:last-child{
				width: 30%
			}

			&:not(:last-child){
				width: 30%;
			}

		margin-bottom: 25px;
	}

	@include mq('tablet-wide'){
		&:last-child{
			width: 100%
		}

		&:not(:last-child){
			width: 100%;
		}
		margin-bottom: 25px;
	}
	
	@include mq('desktop-wide'){
		margin-bottom: 30px;
	}
	@include mq('desktop-super-wide'){
		margin-bottom: 40px;
	}
}

li {
	@include text;
	text-align: left;
	font-size: 14px;
	line-height: 21px;

	margin: 0px 0px;
	margin-bottom: 10px;

	@include mq('tablet-wide'){
	}

	@include mq('desktop'){
		font-size: 14px;	
	}
	@include mq('desktop-wide'){
		font-size: 16px;
	}
	@include mq('desktop-super-wide'){
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 15px;
	}
}

/*------------------------------------*/
/*----------------TEXT----------------*/
/*------------------------------------*/
.text {
	width: 100%;
	margin-bottom: 50px;

	@include mq('tablet-wide'){	
		width: 70%;
		margin-bottom: 0px;
	}
}


/*------------------------------------*/
/*---------------IMAGES---------------*/
/*------------------------------------*/
img {	
	width: 100%;

	object-fit: cover;
	
	margin: 0;
	margin-bottom: 15px;
}

.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.half {
	width: 100%;

	@include mq('tablet'){
		width: 45%;
	}
}

figure {
	display: flex;
	flex-flow: column;
	align-items: center;

	margin: 0px;

	&:not(:last-child){
		margin-bottom: 60px;
	}

		@include mq('tablet-wide'){
			&:not(:last-child){
				margin-bottom: 120px;
			}
		}

		@include mq('desktop-wide'){
			&:not(:last-child){
				margin-bottom: 140px;
			}
		}

		@include mq('desktop-super-wide'){
			&:not(:last-child){
				margin-bottom: 240px;
			}
		}
}

.desktop {
	display: none;

	@include mq('tablet-wide'){
		display: flex;
	}
}

.mobile {
	display: flex;

	@include mq('tablet-wide'){
		display: none;
	}
}

/*------------------------------------*/
/*---------------BUTTON---------------*/
/*------------------------------------*/

button {
	margin: 0 auto;
	border: none;
	background: none;
	text-decoration: none;

	
	cursor: pointer;
	@include accent-bold;

}

/*------------------------------------*/
/*-------------BOTTOM NAV-------------*/
/*------------------------------------*/

.projnav {
	justify-content: space-between;
	align-items: center;
	flex-flow: row;
	display: flex;

	margin: 80px 0px 0px 0px;

	div {
		width: 48%;

		&:first-child {
			text-align: right;
		}

		&:last-child {
			text-align: left;
		}
	}

	a {
		text-decoration: none;
		color: $accent-colour;

		position: relative;
		
		padding: 4px 0;
		

		&::after {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 2px;
			border-radius: 25px;
			background: $accent-colour;
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
			-moz-transition: opacity 0.3s, -moz-transform 0.3s;
			transition: opacity 0.3s, transform 0.3s;
			-webkit-transform: translateY(10px);
			-moz-transform: translateY(10px);
			transform: translateY(10px);
		}

		&:hover::after,
		&:focus::after {
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			transform: translateY(0px);
		}
	}
}
