@import 'src/assets/variables.scss';
@import 'src/assets/fonts.scss';

h1 {
	text-align: left !important;
}


h3 {
	letter-spacing: 1px !important;
	line-height: 27px !important;
	text-align: left !important;
	font-weight: 700 !important;
}

.pink {
	color: $accent-colour !important;
	line-height: 28px !important;
	

	text-transform: uppercase !important;
	text-align: left !important;
	
	@include mq('tablet-small'){
		text-align: right !important;
		width: 60% !important;
	}
}

.none {
	text-indent: 0px !important;	
}

a {
	width: 60%;

	display: flex;
	flex-flow: row wrap;
	align-items: center;

	text-decoration: none;
	color: $normal-colour;

	&:hover {
		color: $accent-colour;
	}

}

svg {
	width: 20px;
	height: 25px;

	margin-right: 25px;
	
	@include mq('tablet'){
		width: 40px;
		height: 45px;
	}
}

.transition {
	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);
}

.container {
    background-color: rgba(16,34,60,0.04);
    
   	display: flex;
   	flex-flow: column wrap;
    justify-content: space-between;
    
	padding: 40px 35px;
	margin-top: 55px;


	@include mq('tablet-small'){
		padding: 0px 80px;
	}

	@include mq('tablet-wide'){
		padding: 0px 130px;
	}

	@include mq('desktop'){
		padding: 0px 220px;
	}

	@include mq('desktop-super-wide'){
		padding: 0px 600px;
	}

}

span {
	width: 0;

	@include mq('tablet-wide') {
		width: 40%;
	}
	
}

.projects {
	justify-content: space-between;
	flex-flow: column wrap;
	display: flex;

	width: 100%;

	margin: 0px 0px;
	margin-top: 50px;

	@include mq('tablet-wide'){
		margin-top: 128px;
	}

	@include mq('desktop'){
		margin-top: 180px;
	}

	@include mq('desktop-super-wide'){
		margin-top: 240px;
	}
}

.title {
	margin-bottom: 50px;
}


.desc-container {
	justify-content: space-between;
	flex-flow: row wrap;
	display: flex;

	width: 100%;
	margin-bottom: 50px;
	

	@include mq('tablet-wide') {
		flex-flow: column wrap;
		margin-bottom: 100px;
	}
}

.pic {
	display: none;

	@include mq('tablet-small') {
		display: block;
		margin-bottom: 0;
		width: 35%;
	}
}

img {
	object-fit: cover;
	width: 50%;

	@include mq('tablet-wide') {
		width: 100%;
	}
}


.description {
	width: 100%;
	margin-bottom: 80px;

	@include mq('tablet-small') {
		width: 60%;
		margin-bottom: none;

	}
}


.more {
	justify-content: space-between;
	flex-flow: row wrap;
	display: flex;

	width: 100%;
	margin-bottom: 50px;
}

.titles {
	width: 100%;
	margin-bottom: 10px;

	display: flex;
	justify-content: flex-start;

	@include mq('tablet-small'){
		width: 35%;
		margin-bottom: 0px;
		justify-content: flex-end;
	}
}

.work {
	width: 100%;

	@include mq('tablet-small'){
		width: 60%;
	}
}

.job {
	&:not(:last-child) {
		margin-bottom: 25px;

		@include mq('tablet-small'){
			margin-bottom: 50px;
		}
	}
}

.cv {
	text-align: center;
}
