@import 'src/assets/variables.scss';


.transition {
	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);
}

menu-view {
	display: flex;

	@include mq('tablet-wide') {
		display: none;
	}
}

nav {
	background-color: white;

	justify-content: space-between;
	align-items: center;
	display: flex;

	padding: 0px 40px;

	position: fixed;

	height: 60px;

	z-index: 10;
	top: 0;
	right: 0;
	left: 0;

	@include mq('tablet-wide'){
		padding: 0 70px;
	}

	@include mq('desktop'){
		padding: 0 70px;

		height: 55px;
	}	
}

.navigation {
	display: none;

	list-style: none;

	margin: 0px 0px;
	padding: 0px 0px;

	@include mq('tablet-wide') {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 25%;
	}
}

button {
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);

	margin: 0 0;
	padding: 0px 0px;
	padding-bottom: 2px;
	
	display: inline-block;

	position: relative;

	cursor: pointer;

	border: none;
	background: none;


	@include normal-font;
	letter-spacing: 1px;
	font-weight: 500;
	text-align: left;
	font-size: 16px;

	opacity: 0.8;

	color: $accent-colour !important;
	outline: none;

	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);

		&:hover, &:focus {
		outline: none;
		opacity: 1;
	}

	&::after {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 2px;
		border-radius: 25px;
		background: rgba(223, 125, 145, 0.7);
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
		-moz-transition: opacity 0.3s, -moz-transform 0.3s;
		transition: opacity 0.3s, transform 0.3s;
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		transform: translateY(10px);
	}
	
	&:hover::after,
	&:focus::after {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
	
}

a {
	text-decoration: none;
}

h1 {
	margin: 0 0;
	padding: 0px 0px;
	padding-bottom: 2px;
	
	display: inline-block;

	cursor: pointer;

	border: none;
	background: none;


	@include normal-font;
	letter-spacing: 1px;
	font-weight: 500;
	text-align: left;
	font-size: 16px;

	opacity: 0.8;

	color: $accent-colour !important;
	outline: none;
}