@import 'src/assets/variables.scss';


.transition {
	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);
}

nav {
	background-color: white;

	justify-content: space-between;
	align-items: center;
	display: flex;

	padding: 0px 40px;

	position: fixed;

	height: 70px;

	z-index: 10;
	top: 0;
	right: 0;
	left: 0;

	@include mq('tablet-wide'){
		padding: 0 70px;
	}

	@include mq('desktop'){
		padding: 0 70px;

		height: 55px;
	}	
}

