@import 'src/assets/variables.scss';

a {
  text-decoration: none;
}

h1 {
	width: 100%;

	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;

	font-size: 30px;
	line-height: 45px;
	text-align: center;
	@include accent-bold;

	transition: font-size 0.5s ease;

	@include mq('tablet') {
		font-size: 32px;
		line-height: 50px;
	}
	
	@include mq('tablet-wide'){
		font-size: 35px;
		line-height: 52px;
	}
	
	@include mq('desktop'){
		font-size: 35px;
		line-height: 52px;
	}

	@include mq('desktop-wide'){
		font-size: 40px;
		line-height: 60px;
	}

	@include mq('desktop-super-wide'){
		font-size: 45px;
		line-height: 70px;
	}
}

h2 {
	@include semi-font;
	color: $normal-colour !important;

	font-size: 16px;
	letter-spacing: 1px;

	margin: 0px 0px;
	margin-bottom: 3px;

	transition: font-size 0.5s ease;

	@include mq('tablet-wide'){
		font-size: 18px;
	}
	
	@include mq('desktop'){
		font-size: 20px;
		margin-bottom: 5px;
	}

	@include mq('desktop-wide'){
	}

	@include mq('desktop-super-wide'){
	}
}

h3 {
	@include light-font;

	font-size: 13px;
	letter-spacing: 2px;
	text-transform: uppercase;

	margin: 0px 0px;

	transition: font-size 0.5s ease;
	
	@include mq('desktop'){
		font-size: 14px;
		
	}

	@include mq('desktop-wide'){
	}

	@include mq('desktop-super-wide'){
	}
}