@import 'src/assets/variables.scss';

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.transition {
	transition: 0.25s cubic-bezier(0.68, 0.16, 0.25, 1);
}

.contacts {
 background: linear-gradient(60deg,#D62469,#2AB8C6);
	
	flex-flow: column;
	display: flex;

	justify-content: space-between;
	align-items: flex-start;
}

.text {
	margin-top: 50px;

	@include mq('desktop') {
		margin-top: 100px;	
	}

	@include mq('desktop-super-wide') {
		margin-top: 200px;
	}
}



h1 {
	@include accent-bold;
	text-align: left;

	line-height: 60px;

	font-size: 25px;
	
	color: white !important;

	margin: 0px 0px;

	@include mq('tablet-wide') {
		font-size: 35px;
	}
	
	@include mq('desktop') {
		font-size: 40px;
	}

	@include mq('desktop-wide') {
		font-size: 45px;
	}

	@include mq('desktop-super-wide') {
		font-size: 55px;
	}
}

a {
	display: inline-block;
	position: relative;

	font: 100% $accent-font;
	font-size: 14px;

	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	text-decoration: none;
	text-align: left;

	color: white;

	&:hover, &:focus {
		outline: none;
		transform: scale(1.03);
		
	}

	@include mq('tablet') {
		font-size: 16px;
	}

	@include mq('desktop') {
		font-size: 20px;
	}

	@include mq('desktop-wide') {
		font-size: 25px;
	}

	@include mq('desktop-super-wide') {
		font-size: 30px;
	}
}

.cl-effect-3 a {
	padding: 4px 0;
}

.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 25px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(12px);
	-moz-transform: translateY(12px);
	transform: translateY(12px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


.social {
	justify-content: space-between;
	flex-flow: column;
	display: flex;

	width: 100%;
	height: 20%;

	@include mq('tablet-wide'){
		align-items: baseline;
		flex-flow: row;

		margin-bottom: 40px;

		height: 0;
	}
}

.social_left{
	justify-content: space-between;
	align-items: flex-start;
	flex-flow: row;
	display: flex;

	margin-bottom: 0px;

	width: 100%;

	@include mq('tablet-small') {
		width: 55%;
	}

	@include mq('tablet-wide'){
		align-items: flex-end;
	}

	@include mq('desktop') {
		width: 40%;
	}

}
